@tailwind base;
@tailwind components;
@tailwind utilities;

#code {
    color: #00ff00;
    background: #000033;
}

.cursor-move {
    cursor: move;
}

/* scrollbars */

.overflow-y-overlay {
    overflow-y: auto
}

@supports (overflow-y: overlay) {
    .overflow-y-overlay {
        overflow-y:overlay
    }
}

.smallscroll {
    --sb-width: 8px;
    scrollbar-color: #666b7a transparent;
    scrollbar-width: thin
}

.smallscroll::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-width);
    background-color: transparent
}

.smallscroll::-webkit-scrollbar-thumb {
    background-color: #666b7a
}

/* CRT effect: https://css-live.ru/tricks/border-image-gradients-sorcery.html */
/* .crt-frame {
    border-image: radial-gradient(#333, #000 10%,#666 10.5% 12%,#0000 12.5%) 45.5% fill / 150px / 150px;
} */
